In [90]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
import seaborn as sns

In [91]:

fish = pd.read_csv('https://raw.githubusercontent.com/robotautas/kursas/master/Machine%20Learning/Fish.csv')

fish

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [92]:
fish['Weight']

0      242.0
1      290.0
2      340.0
3      363.0
4      430.0
       ...
154     12.2
155     13.4
156     12.2
157     19.7
158     19.9
Name: Weight, Length: 159, dtype: float64

In [93]:
dummies = pd.get_dummies(fish['Species'])
fish = pd.concat([fish, dummies], axis=1)
fish.drop('Species',axis = 1, inplace = True)

In [94]:
fish

,Weight,Length1,Length2,Length3,Height,Width,Bream,Parkki,Perch,Pike,Roach,Smelt,Whitefish
0,242.0,23.2,25.4,30.0,11.5200,4.0200,True,False,False,False,False,False,False
1,290.0,24.0,26.3,31.2,12.4800,4.3056,True,False,False,False,False,False,False
2,340.0,23.9,26.5,31.1,12.3778,4.6961,True,False,False,False,False,False,False
3,363.0,26.3,29.0,33.5,12.7300,4.4555,True,False,False,False,False,False,False
4,430.0,26.5,29.0,34.0,12.4440,5.1340,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,12.2,11.5,12.2,13.4,2.0904,1.3936,False,False,False,False,False,True,False
155,13.4,11.7,12.4,13.5,2.4300,1.2690,False,False,False,False,False,True,False
156,12.2,12.1,13.0,13.8,2.2770,1.2558,False,False,False,False,False,True,False
157,19.7,13.2,14.3,15.2,2.8728,2.0672,False,False,False,False,False,True,False
158,19.9,13.8,15.0,16.2,2.9322,1.8792,False,False,False,False,False,True,False

In [95]:
fish.columns

Index(['Weight', 'Length1', 'Length2', 'Length3', 'Height', 'Width', 'Bream',
       'Parkki', 'Perch', 'Pike', 'Roach', 'Smelt', 'Whitefish'],
      dtype='object')

In [96]:
x = fish[['Length1', 'Length2', 'Length3', 'Height', 'Width', 'Bream',
       'Parkki', 'Perch', 'Pike', 'Roach', 'Smelt', 'Whitefish']]

In [97]:
y = fish['Weight']

In [98]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [99]:
train_data = LinearRegression().fit(X_train, y_train)

In [100]:
prediction = train_data.predict(X_test)

In [101]:
prediction

array([ 2.52413687e+01,  5.95421494e-01,  2.08449859e+02,  3.31665261e+02,
        2.15482994e+02,  7.53929942e+02, -7.24585071e+01,  2.53698723e+02,
        2.59678480e+02,  1.18648573e+03,  6.00206027e+02,  8.47635320e+02,
        5.37239650e+02,  1.52193053e+02,  6.78093881e+02,  8.17925786e+02,
        1.02085423e+03,  2.81460586e+02,  2.21230474e+02,  5.80928938e+02,
       -2.65982999e+01,  5.79658685e+02,  5.06143757e+02,  4.79971143e+02,
        8.14231017e+02,  9.65625735e+02,  2.18708642e+02,  3.55983349e+02,
       -1.02621031e+02, -2.80999101e+01,  5.98136370e+02, -1.80105070e+01,
       -1.04683495e+02,  7.28061602e+02,  3.58027459e+02,  1.63308996e+02,
        1.88699604e+02,  1.09828388e+02,  2.04508008e+02,  7.80041169e+02,
        6.78083828e+02,  7.28191073e+02, -7.67869255e+01,  1.79681138e+02,
        1.92874650e+02,  6.19181650e+00,  1.35603189e+02,  6.51314578e+02,
        1.35643024e+02,  7.02557771e+01,  7.20492577e+02,  4.85662042e+02,
        5.38647607e+02])

In [102]:
spejimai = pd.Series(data=prediction, name = "Prediction")

In [103]:
result = pd.concat([y_test.reset_index(), spejimai], axis =1)[['Weight', 'Prediction']]

In [104]:
train_data.score(X_test, y_test)

0.9405192628555373

In [105]:
result

    Weight   Prediction
0     78.0    25.241369
1     13.4     0.595421
2    200.0   208.449859
3    270.0   331.665261
4    150.0   215.482994
5   1000.0   753.929942
6      7.0   -72.458507
7    180.0   253.698723
8    188.0   259.678480
9   1250.0  1186.485729
10   650.0   600.206027
11  1000.0   847.635320
12   600.0   537.239650
13   150.0   152.193053
14   700.0   678.093881
15   920.0   817.925786
16  1000.0  1020.854225
17   218.0   281.460586
18   225.0   221.230474
19   700.0   580.928938
20    10.0   -26.598300
21   610.0   579.658685
22   500.0   506.143757
23   500.0   479.971143
24   955.0   814.231017
25  1100.0   965.625735
26   170.0   218.708642
27   270.0   355.983349
28     6.7  -102.621031
29     9.9   -28.099910
30   510.0   598.136370
31    70.0   -18.010507
32    51.5  -104.683495
33   567.0   728.061602
34   340.0   358.027459
35   120.0   163.308996
36   160.0   188.699604
37   120.0   109.828388
38   145.0   204.508008
39   820.0   780.041169
40   720.0   678.083828
41   500.0   728.191073
42     7.5   -76.786925
43   110.0   179.681138
44   140.0   192.874650
45    69.0     6.191816
46   110.0   135.603189
47   620.0   651.314578
48   130.0   135.643024
49    85.0    70.255777
50   685.0   720.492577
51   500.0   485.662042
52   514.0   538.647607